body{
    padding-left: 10%;
    padding-right: 10%;
}
header {
    position: fixed;
    top: 0;
    width: 80%;
    padding-top: 3%;
    padding-left: 20px;
    background: white;
    
}


header span{
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

.header-button{
    width: 100px;
    height: 30px;
    border: 0; 
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

.header-button a{
    text-decoration: none;
    color: black;
}
h2 {
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-top: 5%;
    padding-bottom: 3%;
}

section {
    height: 100%;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-top: 20%;
}

section div{
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}

section div span {
    font-size: 20px;
    font-weight: bold;
}

section div p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.saveContent {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2) ;
}