body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

header {
    margin-bottom: 7%;
}

.header-button{
    width: 100px;
    height: 30px;
    border: 0; 
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
}

header span{
    font-size: 60px;
    color: black;
    font-weight: 550;
    font-style: normal; 
}

#content{
    word-break:break-all;
}

.content{
    position : absolute;
    width: 80%;
    height: 65%;   
}
.content p{
    width: 100%;
}

#canvasImgdas{
    position : absolute;
    width: 80%;
    height: 65%;    
    top:26%;
}
img {
    position : absolute;
    width: 80%;
    height: 73%;
    top : 37.5%;
}