body{
    padding-left: 10%;
    padding-right: 10%;
}

.write-header{
    height: 50px;
}
.header-prev{
    display: inline-block;
}
.header-save{
    float: right;
}

/* header */
.header-button{
    width: 100px;
    height: 30px;
    border: 0; 
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}

/* 제목 */
.write-title-space{
    margin-bottom: 20px;
}
.write-title{
   width: 100%;
   height: 60px;
   font-size: 30px;
   color: black;
   font-weight: 550;
   font-style: normal; 
   border: 0 solid black;
   outline: none;
}
.write-title::placeholder{
    color: black;
    font-weight: 550;
    font-style: normal;
}

/* 
    Tool 
*/
.tools{
    display:flex;
}

.tools span{
    font-size: 20px;
    font-weight: bold;
}

.vertical-line{
    border-right: 1px solid gray;
    height : 50px;
}

ul {
    list-style: none;
    padding-left: 0px ;
}
li{
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

input, button, li label{
    cursor: pointer;
}

.option:is(:hover, .active) img { 
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
      brightness(100%) contrast(100%);
}

.option:is(:hover, .active) :where(span, label) {
    color: #4a98f7;
}


/* font tool */
select {
    width: 50px;
    height: 25px;
}
.text-font-color{
    width: 53px;
    -webkit-appearance: none;
    margin: 0;
    background-color: white;
    border: 0;
    outline: 0;
}
#text-font-style {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border : 0;
    outline: 0;
}

#eraser-all {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    border-color:gray;
}


/* 
    textarea style 
*/
.textarea-div{
    position : absolute;
    width: 80%;
    height: 65%; 
    z-index: 2;
}
.write-textarea{
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 32px;
    color: black;
    font-weight: normal;
    border: 0 solid black;
    outline: none;
    resize:none;
}

.write-textarea::placeholder{
    color: black;
    font-weight: bold;
}

/* canvas */
.drawing-board{
    position : absolute;
    width: 80%;
    height: 65%;
    z-index: 1;
    top: 225px;
}

.canvas{
    width: 100%;
    height: 100%;
}

#canvas-color{
    width: 53px;
    -webkit-appearance: none;
    margin: 0;
    background-color: white;
    border: 0;
    outline: 0;
}

.input-image {
    padding: 2px 2px;
    background-color:gray;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.tools div{
    margin: auto;
}
