body{
    padding-left: 10%;
    padding-right: 10%;
}

.write-header{
    height: 50px;
}
.header-prev{
    display: inline-block;
}
.header-save{
    float: right;
}

/* 제목 */
.write-title-space{
    margin-bottom: 20px;
}
.write-title{
   width: 100%;
   height: 60px;
   font-size: 30px;
   color: black;
   font-weight: 550;
   font-style: normal; 
   border: 0 solid black;
   outline: none;
}
.write-title::placeholder{
    color: black;
    font-weight: 550;
    font-style: normal;
}

/* 쓰기 속성 카테고리 틀 */
.write-category{
    display:flex;
}
.write-category-text{
    border-right: 1px solid gray;
}
.write-category-draw{
    border-right: 1px solid gray;
    padding-right: 20px;
}
.write-category div{
    margin-right: 20px;
}

/* font style */
.text-font-size{
    width: 43px;
    height: 25px;
}
.write-category button {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border : 0;
    outline: 0;
}
.text-font-color{
    width: 53px;
    -webkit-appearance: none;
    margin: 0;
    background-color: white;
    border: 0;
    outline: 0;
}

/* textarea style */
.textarea-div{
    position : absolute;
    width: 80%;
    height: 500;
    z-index: 2;
}
.write-textarea{
    background-color: transparent;
    width: 100%;
    height: 500px;
    font-size: 32px;
    color: black;
    font-weight: normal;
    border: 0 solid black;
    outline: none;
    resize:none;
}
.write-textarea::placeholder{
    color: black;
    font-weight: bold;
    
}

/* canvas */
.canvas-div{
    position : absolute;
    width: 80%;
    z-index: 1;
    top: 210px;
}
#canvas-color{
    width: 53px;
    -webkit-appearance: none;
    margin: 0;
    background-color: white;
    border: 0;
    outline: 0;
}

/* shape */
